body{
  font-family: 'Segoe UI', sans-serif;
  overflow-x:hidden;
}

.custom-nav{
  background:#003c99;
}

.logo-nav{
  width:40px;
  margin-right:10px;
}

.hero-section{
  min-height:100vh;
  background:linear-gradient(135deg,#003c99,#0d6efd);
  color:white;
  display:flex;
  align-items:center;
  padding:120px 0 80px;
}

.profile-img{
  width:100%;
  max-width:380px;
  border-radius:30px;
  box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

.hero-section h1{
  font-size:55px;
  font-weight:800;
}

.hero-section h1 span{
  color:#b7d4ff;
}

.badge-custom{
  background:white;
  color:#003c99;
  padding:10px 20px;
  border-radius:50px;
  font-weight:bold;
}

.btn-custom{
  border-radius:50px;
  padding:12px 25px;
}

.section-padding{
  padding:80px 0;
}

.title-section h2{
  font-weight:800;
  margin-bottom:50px;
  color:#003c99;
}

.card-box{
  background:white;
  border-radius:20px;
  padding:35px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.bg-light-blue{
  background:#f2f7ff;
}

.icon-big{
  font-size:55px;
  color:#0057d9;
  margin-bottom:20px;
}

.timeline-item{
  background:white;
  padding:30px;
  border-left:5px solid #0057d9;
  margin-bottom:30px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.contact-section{
  background:#003c99;
  color:white;
}

.contact-section h2{
  color:white;
}

.card-contact{
  background:rgba(255,255,255,0.1);
  padding:35px;
  border-radius:20px;
  text-align:center;
}

.card-contact i{
  font-size:40px;
  margin-bottom:15px;
}

.card-contact a{
  color:white;
  text-decoration:none;
}

.footer{
  background:#021226;
  color:white;
  text-align:center;
  padding:20px;
}

.floating-wa{
  position:fixed;
  right:20px;
  bottom:20px;
  width:60px;
  height:60px;
  border-radius:50%;
  background:#25d366;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:28px;
  text-decoration:none;
  z-index:999;
}

@media(max-width:768px){

  .hero-section{
    text-align:center;
  }

  .hero-section h1{
    font-size:38px;
  }

}
